<div id="ele12" class="step"  data-x="0" data-y="2700" data-scale="0.3">
  <blockquote>While his tactics are wild and vulgar, his accomplishments are how he will ultimately be judged.</blockquote>
  <div class="snaps">
    <div id="WashingtonPost">
      <a href="https://www.washingtonpost.com/news/wonk/wp/2017/02/03/u-s-economy-adds-227000-jobs-in-january-unemployment-ticks-up-to-4-8" target="_blank"><img src="assets/WashingtonPost.Capturar.jpg" /></a> 
      <div class="source">Swanson, A. (2017, February 3). ‘It's gonna continue big league': Strong jobs report spurs stocks, has Trump claiming credit. Retrieved February 10, 2017, from <a href="https://www.washingtonpost.com/news/wonk/wp/2017/02/03/u-s-economy-adds-227000-jobs-in-january-unemployment-ticks-up-to-4-8" target="_blank">https://www.washingtonpost.com/news/wonk/wp/2017/02/03/u-s-economy-adds-227000-jobs-in-january-unemployment-ticks-up-to-4-8</a></div>
    </div>
    <div>
      <a href="http://www.newyorker.com/tech/elements/trumps-pipeline-and-americas-shame" target="_blank"><img src="assets/NewYorker.Capturar.jpg" /></a> 
      <div class="source">McKibben, B. (2017, February 08). Trump’s Pipeline and America’s Shame. Retrieved February 10, 2017, from <a href="http://www.newyorker.com/tech/elements/trumps-pipeline-and-americas-shame" target="_blank">http://www.newyorker.com/tech/elements/trumps-pipeline-and-americas-shame</a></div>
    </div>
  </div>
  <style>
#ele12 blockquote {
  margin-left: 8rem;
  margin-bottom: 3rem;
  text-align: right;
  font-size: 1.25rem;
  width: 30rem;
}
#ele12 .snaps {
  margin-left: -12rem;
}
#WashingtonPost img {
  margin-top: -3rem;
  max-width: 75vmin;
  max-height: 75vmin;
}
  </style>
</div>