<div id="ele13" class="step" data-x="590" data-y="2700" data-rotate="15">
  <blockquote>And his effects on business and the media are already becoming clear.</blockquote>
  <div class="snaps">
    <div id="Fortune">
      <a href="http://fortune.com/2017/02/08/sharp-foxconn-factory-trump" target="_blank"><img src="assets/Fortune.Capturar.PNG" /></a> 
      <div class="source">Reuters (Pub.) (2017, February 08). Japan May Woo Trump with 700,000 U.S. Jobs and a $7 Billion Factory. Retrieved February 10, 2017, from <a href="http://fortune.com/2017/02/08/sharp-foxconn-factory-trump" target="_blank">http://fortune.com/2017/02/08/sharp-foxconn-factory-trump</a></div>
    </div>
    <div id="AlJazeera">
      <a href="http://www.aljazeera.com/indepth/opinion/2017/02/whats-great-wall-america-170208080147744.html" target="_blank"><img src="assets/AlJazeera.Capturar.jpg" /></a>
      <div class="source">Fernandez, B. (2017, February 08). What's behind the Great Wall of America? Retrieved February 10, 2017, from <a href="http://www.aljazeera.com/indepth/opinion/2017/02/whats-great-wall-america-170208080147744.html" target="_blank">http://www.aljazeera.com/indepth/opinion/2017/02/whats-great-wall-america-170208080147744.html</a></div>
    </div>
  <style>
#ele13 {
  margin-top: -2.5rem;
}
#ele13 blockquote {
  font-size: 1.5rem;
}
#ele13 .snaps {
  margin-left: -10rem;
} 
#Fortune {
  transform: rotate(3deg);
}
#AlJazeera {
  transform: rotate(-2deg);
}
  </style>
</div>