<div id="ele1" class="step" data-x="700" data-y="0" data-scale="0.5">
  <div>
    <a href="" target="_blank"><img id="cnn_slide" src="assets/160810165247-trump-quote-two-mccain-super-169.jpg" /></a>
    <div class="source">Wilson, M. (2017, January 19). [Trump - Quote II - McCain]. Retrieved February 10, 2017, from   
      <a href="http://www.cnn.com/2015/12/31/politics/gallery/donald-trump-campaign-quotes/" target="_blank">http://www.cnn.com/2015/12/31/politics/gallery/donald-trump-campaign-quotes/</a><br />slide 2
    </div>
  </div>

  <div>
    <a href="http://www.news.com.au/finance/work/leaders/how-donald-trump-used-social-media-to-take-over-the-world/news-story/97567c6a71fb6aa8940fb2d4f133dd68" target="_blank"><img id="news-com-au" src="assets/news.com.au.Capturar.jpg" /></a>
    <div class="source">
Fernando, G. (2016, November 30). How social media helped Trump take over the world. Retrieved February 10, 2017, from <a href="http://www.news.com.au/finance/work/leaders/how-donald-trump-used-social-media-to-take-over-the-world/news-story/97567c6a71fb6aa8940fb2d4f133dd68" target="_blank">http://www.news.com.au/finance/work/leaders/how-donald-trump-used-social-media-to-take-over-the-world/news-story/97567c6a71fb6aa8940fb2d4f133dd68</a></div>
  </div>
  <style>
#ele1 {
  height: 120vh;
  background-color: #1e1e1e; /* eerie black */
  color: whitesmoke;
  padding: 0.2rem;
}
#ele1 a {
  color:deepskyblue;
}
#cnn_slide {
  transform: rotate(15deg)
}
</style>
</div>