<div id="ele14" class="step" data-x="350" data-y="4125" data-rotate="-165" data-scale="3">
  <div>
    <a href="http://www.firstpost.com/world/donald-trump-vs-the-american-media-friction-between-these-two-is-here-to-stay-3218082.html" target="_blank"
      ><img src="assets/FirstPost.Capturar.jpg" /></a>
    <div class="source">
      Donald Trump vs the American media: Friction between these two is here to stay. (2017, January 24). Retrieved from <a href="http://www.firstpost.com/world/donald-trump-vs-the-american-media-friction-between-these-two-is-here-to-stay-3218082.html" target="_blank"
      >http://www.firstpost.com/world/donald-trump-vs-the-american-media-friction-between-these-two-is-here-to-stay-3218082.html</a>
    </div>
  </div>
  <blockquote id="end">in the media, it may be that how we react to such rhetoric determines to what degree friction can block progress, and what we can accomplish in <br />the end</blockquote>
  <style>
#ele14 > div {
  margin-left: 3rem;
}
#end {
  text-align: center;
}
  </style>
</div>