<div id="ele3"  class="step" data-x="700" data-y="600">
  <blockquote>Here, his tweets challenge the legitimacy of established institutions, nearly universally lauded in the media. With this, he obliquely fights back at those who beg the credulity of his candidacy or presidency. Early in the campaign, this ultimately contributed to his acceptance as the GOP nominee.</blockquote>
  <div id="tweet1" data-path="/realDonaldTrump/status/266035509162303492" class="oEmbed"></div>
  <div id="tweet2" data-path="/realDonaldTrump/status/803033642545115140" class="oEmbed"></div>
  <style>
  #ele3 {
    background-color:aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 110-vh;
  }
  #ele3 blockquote {
    color:#1E1E1E;
    font-size: 1.75rem;
  }
  #tweet1 {
    margin-top: 5rem;
    transform: rotate(10deg)
  }
  #tweet2 { 
    transform: rotate(-5deg)
  }
  </style>
</div>
