<div id="ele5" class="step" data-x="0" data-y="-4000" data-z="-3000" data-rotate="-135" data-scale="0.1">
  <a href="http://www.wsj.com/graphics/elections/2016/divided-america/" target="_blank"><img src="assets/WSJ.Capturar.jpg" /></a>
  <div class="source">
    Shifflett, S. (20016, November 9). Divided America: Where Donald Trump Benefited From a Polarized Electorate. </br />Retrieved February 09, 2017, from <a href="http://www.wsj.com/graphics/elections/2016/divided-america/"  target="_blank">http://www.wsj.com/graphics/elections/2016/divided-america/</a>
  </div>
  <style>
#ele5 .source {
  white-space: nowrap;
}
  </style>
</div>

