<div id="ele6" class="step" data-x="1700" data-y="0">
  <div>
    <div id="tweet3" data-path="/realDonaldTrump/status/803567993036754944" class="oEmbed"></div>
    <blockquote>from personal, to outrageous, to contentious, to <strong>success</strong>. or oblivion. This is a significant pattern in use of twitter.</blockquote>
    <div id="tweet5" data-path="/realDonaldTrump/status/771294347501461504" class="oEmbed"></div>
    <div id="tweet6" data-path="/realDonaldTrump/status/825692045532618753" class="oEmbed"></div>
  </div>
  <div id="tweet4" data-path="/realDonaldTrump/status/785295867863568384" class="oEmbed"></div>
  <style>
#ele6 {
  display:flex;
  justify-content: center;
}
#ele6 blockquote {
  font-size: 1.25rem;
}
#tweet3 {
  flex-grow: 1;
  flex-shrink: 2;
} 
#tweet4 {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 1rem;
}
#tweet5 {
  flex-grow: 1;
  flex-shrink: 1;
}
  </style>
</div>